<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
        "file:///home/surajvs/eclipse-workspace/JSF_Hibernate_loginProject/src/main/resources/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/abc?zeroDateTimeBehavior=convertToNull</property>
        <property name="hibernate.connection.username">suraj</property>
        <property name="hibernate.connection.password">E7375srjv</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="Transaction"></mapping>
        <mapping class="CompleteOption"></mapping>
    </session-factory>
</hibernate-configuration>
